
.All {
  background-color: #c7befa;
  min-height: 100vh;
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Head {
  font-size: 50px;
  color: #c7fff1;
  text-shadow: -150px -55px #7f7c97b0;
}

.Tab {
  text-align: center;
}

.List {
  font-size: 25px;
  color: #c7fff1;
  text-shadow: 2px 3px #7f7c974b;
  /*margin-bottom: 5px; hnngh cant get more margin for the list so it would be easier to read
  i wanna keep the shadow things that extra i think it looks fun*/
}


  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  